:root {
  --work-in-progess: 'true';
  --color1: #25274D;
  --color2: #464866;
  --color3: #AAABB8;
  --color4: #2E9CCA;
  --color5: #29648A;
}

html {
  position: fixed;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: var(--color1);
  color: var(--color3);
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 90vw; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

* {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

input {
  border: none;
  outline: none;
}

/** General Classess **/


/*? Most likely need to seperate code ?*/

.top {
  width: 100%;
  height: fit-content;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: fit-content;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}


@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}